html{
    scroll-behavior: smooth;
}


body{
    min-width: 400px;
    min-height: 500px;

    margin: 0; padding: 0;
}

.extension-div{
    width: 400px;
    height: 500px;
    background-color: #181818;
    margin: 0; padding: 1rem;

    display: flex; flex-direction: column;
    align-items: center;

    color: white;
    font-family: 'Montserrat', sans-serif;
}

.extension-div .header{
    font-weight: 500;
    font-size: 32px;
    margin: 52px 0 0 0;
}

.date{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 2px 0 0 0;
    opacity: 0;

    transition: all .2s ease;
}
.date.active{
    opacity: 1;
}

.todo{
    display: flex; flex-direction: column;
    margin: 21px 0 0 0;
}
.todo > div{
    display: flex; align-items: center;
}
.todo input{
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border: none;
    background: none;

    color: white;
    font-family: 'Montserrat', sans-serif;
}
.todo input::placeholder{
    color: white;
    font-family: 'Montserrat';
}
.todo .time >input{
    width: 56px;
}
.todo .timezone >input{
    width: 176px;
}
.todo .time{
    display: flex; align-items: center;
    padding: 0px 10px 0px 10px;

    width: 106px; height: 36px;
    
    border-radius: 4px; 
    background-color: #3c3c3c;

    margin: 0 14px 0 0;
}
.todo .timezone{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 0px 10px 0px 10px;

    position: relative;

    width: 230px; height: 36px;
    
    border-radius: 4px; 
    background-color: #3c3c3c;
}

.arrow{
    margin: 17px 0 0 0;

    width: 0px;
    height: 28px;
    flex-shrink: 0;
}

.done{
    display: flex; flex-direction: column;
    margin: 21px 0 0 0;
}
.done > div{
    display: flex; align-items: center;
}
.done input{
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border: none;
    background: none;

    color: white;
    font-family: 'Montserrat', sans-serif;
}
.done input::placeholder{
    color: white;
    font-family: 'Montserrat';
}
.done .time >input{
    width: 56px;
}
.done .timezone >input{
    width: 176px;
}
.done .time{
    display: flex; align-items: center;
    padding: 0px 10px 0px 10px;

    width: 106px; height: 36px;
    
    border-radius: 4px; 
    background-color: #3c3c3c;

    margin: 0 14px 0 0;
}
.done .timezone{
    display: flex; align-items: center;
    padding: 0px 10px 0px 10px;

    width: 230px; height: 36px;
    
    border-radius: 4px; 
    background-color: #3c3c3c;
    position: relative;
}

.options{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;

    margin: 60px;
    font-size: 16px;
}

.options >div{
    display: flex; align-items: center;
    margin: 5px;
}
.options >div >div{
    margin: 3px;
    color: #F39C12;

    display: flex; justify-content: center; align-items: center;
}

.time-setting > div{
    width: 42px; height: 21px;
    padding: 10px 2px 10px 2px;
}

.format-setting > div{
    width: 64px; height: 21px;
    padding: 10px 5px 10px 5px;
}

.options >div .selected{
    color: white;
    background-color: #F39C12;
    border-radius: 28px;
}

.options >div:hover{
    cursor: pointer;
}