.select-btn{
    color: white;
    
    padding: 5px 10px 5px 10px;
    border-radius: 7px;

    font-size: 14px;
    
    margin: 0 0 0 0;
    width: 92%;
}
.select-btn:hover{
    cursor: pointer;
}



.content{
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    top: 50px; left: 0;
}

.content .search input{
    border: 1px solid #ccc;
    padding: 12px;
    width: 90%;


    color: black;
}
.content .search input::placeholder{
    color: black;
}





/* options */
.content .tz_options{
    width: 97%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;

    margin: 0;
    padding: 0;
}
.tz_options::-webkit-scrollbar{
    width: 7px;
}
.tz_options::-webkit-scrollbar-track{
    border-radius: 21px;
    background-color: #f1f1f1;
}
.tz_options::-webkit-scrollbar-thumb{
    border-radius: 21px;
    background-color: #ccc;
}
.tz_options li{
    list-style-type: none;
    border-radius: 4px;
    
    color: black;

    padding: 10px;
    margin: 10px 0 0 0;

    transition: all .1s ease;
}
.tz_options li:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}