.select-btn{
    color: white;
    
    padding: 5px 10px 5px 10px;
    border-radius: 7px;

    font-size: 14px;
    
    margin: 0 0 0 0;
    width: 92%;
}
.select-btn:hover{
    cursor: pointer;
}



.content{
    background-color: white;
    display: none;
    position: absolute;
    width: inherit;
    top: 50px; left: 0;

    padding: 12px; 
    border-radius: 7px;
}

.content .search input{
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;

    font-size: 12px;
    color: black;

    border-radius: 4px;

    margin: 0 0 12px 0;
}
.content .search input::placeholder{
    color: black;
    font-size: 12px;
}

/* options */
.content .tz_options_todo{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;

    margin: 0;
    padding: 0;
}
.tz_options_todo::-webkit-scrollbar{
    width: 7px;
}
.tz_options_todo::-webkit-scrollbar-track{
    border-radius: 21px;
    background-color: #f1f1f1;
}
.tz_options_todo::-webkit-scrollbar-thumb{
    border-radius: 21px;
    background-color: #ccc;
}
.tz_options_todo li{
    list-style-type: none;
    border-radius: 4px;
    
    font-size: 12px;
    color: black;

    padding: 10px;
    margin: 10px 0 0 0;
    width: 85%;

    transition: all .1s ease;
}
.tz_options_todo li:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}


.content .tz_options_done{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;

    margin: 0;
    padding: 0;
}
.tz_options_done::-webkit-scrollbar{
    width: 7px;
}
.tz_options_done::-webkit-scrollbar-track{
    border-radius: 21px;
    background-color: #f1f1f1;
}
.tz_options_done::-webkit-scrollbar-thumb{
    border-radius: 21px;
    background-color: #ccc;
}
.tz_options_done li{
    list-style-type: none;
    border-radius: 4px;
    
    font-size: 12px;
    color: black;

    padding: 10px;
    margin: 10px 0 0 0;
    width: 85%;

    transition: all .1s ease;
}
.tz_options_done li:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}